@page "/driver/new"
@inject IDriverService Service
@inject NavigationManager NavigationManager

<h6>Добавить</h6>
<h3>Водитель</h3>
<hr/>

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label">Фамилия</label>
                <input class="form-control" @bind="@_obj.LastName"/>
            </div>
            <div class="form-group">
                <label class="control-label">Имя</label>
                <input class="form-control" @bind="@_obj.FirstName"/>
            </div>
            <div class="form-group">
                <label class="control-label">Отчество</label>
                <input class="form-control" @bind="@_obj.MiddleName"/>
            </div>

            <div class="form-group">
                <label class="control-label">Дата рождения</label>
                <input class="form-control" type="date" @bind="@_obj.DateBirthday"/>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-success" @onclick="@Create" value="Сохранить"/>
                <input type="button" class="btn btn-dark" @onclick="@Cancel" value="Отмена"/>
            </div>
        </div>
    </div>
</form>

@code {
    readonly Driver _obj = new()
    {
        DateBirthday = DateTime.Today
    };

    private async void Create()
    {
        await Service.CreateAsync(_obj);
        Back();
    }

    void Cancel() => Back();

    void Back() => NavigationManager.NavigateTo("driver");
}